body {
	margin:0;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}

#menu_centro {
	position: relative;
	margin: 10px auto;
	z-index: 4;
}

#menu_centro img {
	float: left;
}

#icon1, #icon2, #icon3 {	
	opacity: 0.7;
	padding: 8px;
	-webkit-transition: opacity 1s, padding-top 0.2s;
	-moz-transition: opacity 1s, padding-top 0.2s;
	-o-transition: opacity 1s, padding-top 0.2s;
	transition: opacity 1s, padding-top 0.2s;
}

#icon1:hover, #icon2:hover, #icon3:hover {
	opacity: 1;
	padding-top: 0px;
}

.textos {
	position:absolute;
	opacity: 0;
	width:100%;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.conteo1, .conteo2, .conteo3 {
	font-family: 'Aldrich', sans-serif;
	position: absolute;
	text-align: center;
	color:#000;
    font-size: 400%;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}